@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Fira Sans',  sans-serif;
}

.v-card-title {
  white-space: normal !important;
}

.v-btn--size-default {
  min-width: 2px !important;
  padding: 2px !important;
}